



@keyframes ldio-wvrqutw601 {
    0% { transform: scale(1.29) }
    100% { transform: scale(1) }
  }
  .ldio-wvrqutw601 div {
    position: absolute;
    width: 44.88px;
    height: 44.88px;
    top: 14.079999999999998px;
    left: 14.079999999999998px;
    background: #df1317;
    animation: ldio-wvrqutw601 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.3s;
  }
  .ldio-wvrqutw601 div:nth-child(2) {
    top: 14.079999999999998px;
    left: 73.03999999999999px;
    background: #0a69aa;
    animation-delay: -0.2s;
  }
  .ldio-wvrqutw601 div:nth-child(3) {
    top: 73.03999999999999px;
    left: 14.079999999999998px;
    background: #e2bb8b;
    animation-delay: 0s;
  }
  .ldio-wvrqutw601 div:nth-child(4) {
    top: 73.03999999999999px;
    left: 73.03999999999999px;
    background: #91bcc6;
    animation-delay: -0.1s;
  }
  .loadingio-spinner-cube-6uc8tfs2156 {
    width: 132px;
    height: 132px;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  .ldio-wvrqutw601 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-wvrqutw601 div { box-sizing: content-box; }
  
  